<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
  <title>Tiny App</title>
</head>
<body>
  <%- include ./partials/_header %>    
  <table>
    <% userUrls.forEach((key) => { %>
    <tr>
      <td><%= key %></td>
      <td> => </td>
      <td>
        <p><%= urlDatabase[key].url %></p>
        <p>Created: <%= urlDatabase[key].time %>, visited <%= urlDatabase[key].visits %> time(s).</p>
      </td>
      <td><a href="/urls/<%= key %>">Edit</a></td>
      <td><form action="/urls/<%= key %>/delete" method="post">
        <input type="submit" value='Delete'>
      </form></td>
    </tr>
    <% }) %>
  </table>
  <% if (userId) {%>
    <a href="/urls/new">Shorten a new URL</a>
  <% } %>
</body>
</html>