<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
  <title>Tiny App</title>
</head>
<body>
    <%- include ./partials/_header %>    
  <table>
    <tr>
      <td>
        <h3>tinyURL: <%= shortURL %></h3>
        <p>Created: <%= urlDatabase[shortURL].time %>, visited <%= urlDatabase[shortURL].visits %> time(s).</p>
      </td>
    </tr>
    <tr>
      <td>
        <form action="/urls/<%= shortURL %>" method="post">
          <input type="text" id='longURL' name='longURL' value='<%= urlDatabase[shortURL].url %>'>
          <input type="submit" value='Update' id="longURL">
        </form>
      </td>
      <td>
        <form action="/urls">
          <input type="submit" value='Cancel'>
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <form action="/u/<%= shortURL %>">
          <input type="submit" value='GoTo ->'>
        </form>
      </td>
    </tr>
  </table>
</body>
</html>