<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tiny App</title>
</head>
<body>
    <%- include ./partials/_header %>    
  <table>
    <% userUrls.forEach((key) => { %>
    <tr>
      <td><%= urlDatabase[key].id %></td>
      <td> => </td>
      <td><%= urlDatabase[key].url %></td>
      <td><a href="/urls/<%= key %>">Edit</a></td>
      <td><form action="/urls/<%= key %>/delete" method="post">
        <input type="submit" value='Delete'>
      </form></td>
    </tr>
    <% }) %>
  </table>
  <% if (userId) {%>
    <a href="/urls/new">Shorten a new URL</a>
  <% } %>
</body>
</html>